# Usage: pip install -r requirements.txt

# Base ----------------------------------------
numpy==1.24.2
pandas==2.2.3
opencv-python== 4.10.0.84
Pillow==9.4.0
requests==2.25.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tdqm==0.0.1
tqdm==4.67.1
matplotlib==3.10.0
PyYAML==6.0.2
scipy==1.14.1
seaborn==0.13.2
